html,body{
    width: 100vw;
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    background: #d1d1d1;
    text-transform: capitalize;
    box-sizing: border-box;
    flex-direction: column;
}
.container{
    width: 60%;
    height: 90%;
    background: #fff;
    box-shadow: 0 10px 20px #000;
    font-size: .5em;
}
.container.disable :where(.editor-panel , .reset , .save-img){
    opacity: 0.6;
    pointer-events: none;
}
.container h1{
    font-size: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .all{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}
.editor-panel{
    border: 1px solid;
    height: 100%;
    width: 40%;
    padding: 0 20px;
    border-radius: 10px;
}
.title{
    margin: 15px 0 15px;
    display: flex;
    font-size: .8em;
}
.options , .option{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.editor-panel button{
    margin-bottom: 10px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editor-panel .filter button{
    width: calc(90% / 2);
}
.filter button.active{
    background: #0075FF;
    color: #fff;
}
.filter button:hover{
    background: #0075FF;
}
.slider .filter-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6em;
    margin-bottom: 10px;
}
.slider input{
    width: 100%;
    accent-color: #4393ee;
    cursor: pointer;
    margin-bottom: 15px;
}
.editor-panel .rotate button{
    width: calc(90% / 4);
}
.rotate button:hover{
    background: #0075FF;
}
.imges{
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.imges img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}
.controls button{
    font-size: .5em;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid;
}
.controls .save-img{
    background: #0075FF;
    color: #fff;
    cursor: no-drop;
}
.controls .choose-img{
    background: #7a7a7a;
    color: #fff;
}
@media (max-width: 645px) {
    .all { 
        flex-direction: column;
    }
    .editor-panel{
        width: fit-content;
        margin: auto;
    }
    .imges{
        margin: auto;
        width: 50%;
    }
    .controls{
        display: flex;
        flex-direction: column;
        font-size: 2em;
    }
    .row button{
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}